<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    <title>69.BET</title>
    <link rel='stylesheet' href='../css/reset.css'>
    <link rel='stylesheet' href='../css/home.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src='../Js/home.js'></script>
</head>
<body id="page">
   
    <header>
       <a id="logo" href="home.html"><img src="../img/logo1.png" alt=""></a>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        <aside id="aside-1"></aside>

        <content>
            <h1><span>Jogue</span>agora!</h1>
            
        </content>

        <aside id="aside-2"></aside>
    </main>
    
    <footer>
        <a href="home.html"><img src="../img/logo2.png" alt=""></a>
    </footer>
    
</body>
    

    
</html>
